{% extends 'districtPages/dashboard_layout.html' %}
{% load crispy_forms_tags %} {% load static %}

{% block body %}

<style>
    form{
        width: 100%;
        content-align: center;
    }
    form .btn{
        width: 50%;
    }
    form a{
        margin: 0rem auto;
        text-align: center;

    }


</style>
    <div class="card shadow p-3 pb-5 mt-5 ml-auto mr-auto" style="width: 500px; height: 100%;">

      <br >
      <h1 class="text-muted">School User Signup Page</h1>
      <form action="{% url 'addSectorUser'%}" method="post" class="site-form mt-3">
        {% csrf_token %}
        {{form|crispy}}
        <input
          class="btn btn-block btn-inline btn-info" type="submit" value="Signup"
        />
        
      </form>
  </div>
      {% endblock %}

    

