<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
  integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
  crossorigin="anonymous" />

<div class="container">
  <footer id="footer" class="footer-1">
    <div class="main-footer widgets-dark typo-light">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="widget subscribe no-box">
              <h5 class="widget-title">Schools Grading and Reporting System<span></span></h5>
              <p>About the System, little discription will goes here.. </p>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="widget no-box">
              <h5 class="widget-title">Quick Links<span></span></h5>
              <ul class="thumbnail-widget">

                <li>
                  <div class="thumb-content"><a href="#." style="text-decoration: none; color: #fff;">About
                      Developer</a></div>
                </li>
              </ul>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="widget no-box">
              <h5 class="widget-title">Get Started<span></span></h5>
              <p>Get access to your full Training and Marketing Suite.</p>

            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-3">

            <div class="widget no-box">
              <h5 class="widget-title">Contact Us<span></span></h5>

              <p><a href="mailto:info@domain.com" title="Contact Us"
                  style="text-decoration: none; color: #fff;">pndungutse1@gmail.com</a></p>
              <ul class="social-footer2">
                <li class=""><a title="youtube" target="_blank"
                    href="https://www.youtube.com/channel/UCrSxCCFovF8d5ycKJht3a4w?view_as=subscriber">
                    <i class="fab fa-youtube"></i> </a></li>
                <li class=""><a href="https://www.facebook.com/ndungutse.patrick" target="_blank" title="Facebook">
                    <i class="fab fa-facebook"></i> </a></li>
                <li class=""><a href="https://twitter.com/NdungutsePatri3" target="_blank" title="Twitter">
                    <i class="fab fa-twitter"></i></a></li>
                <li class=""><a title="instagram" target="_blank" href="https://www.instagram.com/ndungutsepatrick1/">
                    <i class="fab fa-instagram"></i></a></li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="footer-copyright">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <p>Copyright Schools Grading and Reporting System © 2020. All rights reserved.</p>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>