<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>School Year Comparison</title>
    <style>
        .styled-table {
            border-collapse: collapse;
            /* margin: 25px 0; */
            font-size: 1.0em;
            font-family: sans-serif;
            width: 900px;
            height: 100px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

        }
    .styled-table thead tr {
        background-color: #0a0a0a;
        color: #ffffff;
        
    }
     td {
        width: 70px;
        height: 70px;
    } 
    
    .styled-table tbody tr {
        border-bottom: 1px solid #dddddd;
    }
    .styled-table tbody tr:last-of-type {
        border-bottom: 2px solid #070707;
    }
    .subject {
                width: 140px;
                height: 60px;
                font-size: 11px;
            }
    .course {
        font-size: 12px;
    }
    /* .toCenter {
        margin: 30px;
    } */
    </style> 
</head>
<body>
    <br>
    District: <strong>{{district}}</strong><br><br>
    Sector: <strong>{{sector}}</strong> <br><br>
    School: <strong>{{schooll}}</strong>

   
    <center><h3>{{schooll}} PRIMARY SCHOOL PERFORMANCE IN THE YEAR OF {{year1Searched}}</h3>
        <table class="styled-table">
            <thead>
                <tr>
                    <th><strong>Course</strong></th>
                    <th class="subject">Students with 0-25 Marks</th>
                    <th class="subject">Students with 26-50 Marks</th>
                    <th class="subject">Students with 51-75 Marks</th>
                    <th class="subject">Students with 76-100 Marks</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="course" style="text-align: left;">Math</td>
                    <td class="subject">{{count_math_year1_25}}</td>
                    <td class="subject">{{count_math_year1_50}}</td>
                    <td class="subject">{{count_math_year1_75}}</td>
                    <td class="subject">{{count_math_year1_100}}</td>
                </tr>
                <tr>
                    <td class="course" style="text-align: left;">STE</td>
                    <td class="subject">{{count_est_year1_25}}</td>
                    <td class="subject">{{count_est_year1_50}}</td>
                    <td class="subject">{{count_est_year1_75}}</td>
                    <td class="subject">{{count_est_year1_100}}</td>
                </tr>
                <tr>
                    <td class="course" style="text-align: left;">Social Studies</td>
                    <td class="subject">{{count_social_year1_25}}</td>
                    <td class="subject">{{count_social_year1_50}}</td>
                    <td class="subject">{{count_social_year1_75}}</td>
                    <td class="subject">{{count_social_year1_100}}</td>
                </tr>
                <tr>
                    <td class="course" style="text-align: left;">English</td>
                    <td class="subject">{{count_engl_year1_25}}</td>
                    <td class="subject">{{count_engl_year1_50}}</td>
                    <td class="subject">{{count_engl_year1_75}}</td>
                    <td class="subject">{{count_engl_year1_100}}</td> 
                </tr>
                <tr>
                    <td class="course" style="text-align: left;">Kinyarwanda</td>
                    <td class="subject">{{count_kiny_year1_25}}</td>
                    <td class="subject">{{count_kiny_year1_50}}</td>
                    <td class="subject">{{count_kiny_year1_75}}</td>
                    <td class="subject">{{count_kiny_year1_100}}</td>
                </tr>
                <tr>
                    <td class="course" style="text-align: left;">Total</td>
                    <td class="subject"></td>
                    <td class="subject"></td>
                    <td class="subject"></td>
                    <td class="subject">{{count_student_year1}}</td>
                </tr>
            </tbody>
        </table>
    </center>
<br>
<center><h3>{{schooll}} PRIMARY SCHOOL PERFORMANCE IN THE YEAR OF {{year2Searched}}</h3>
    <table class="styled-table">
        <thead>
            <tr>
                <th><strong>Course</strong></th>
                <th class="subject">Students with 0-25 Marks</th>
                <th class="subject">Students with 26-50 Marks</th>
                <th class="subject">Students with 51-75 Marks</th>
                <th class="subject">Students with 76-100 Marks</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="course" style="text-align: left;">Math</td>
                <td class="subject">{{count_math_25}}</td>
                <td class="subject">{{count_math_50}}</td>
                <td class="subject">{{count_math_75}}</td>
                <td class="subject">{{count_math_100}}</td>
            </tr>
            <tr>
                <td class="course" style="text-align: left;">STE</td>
                <td class="subject">{{count_est_25}}</td>
                <td class="subject">{{count_est_50}}</td>
                <td class="subject">{{count_est_75}}</td>
                <td class="subject">{{count_est_100}}</td>
            </tr>
            <tr>
                <td class="course" style="text-align: left;">Social Studies</td>
                <td class="subject">{{count_social_25}}</td>
                <td class="subject">{{count_social_50}}</td>
                <td class="subject">{{count_social_75}}</td>
                <td class="subject">{{count_social_100}}</td>
            </tr>
            <tr>
                <td class="course" style="text-align: left;">English</td>
                <td class="subject">{{count_engl_25}}</td>
                <td class="subject">{{count_engl_50}}</td>
                <td class="subject">{{count_engl_75}}</td>
                <td class="subject">{{count_engl_100}}</td> 
            </tr>
            <tr>
                <td class="course" style="text-align: left;">Kinyarwanda</td>
                <td class="subject">{{count_kiny_year1_25}}</td>
                <td class="subject">{{count_kiny_year1_50}}</td>
                <td class="subject">{{count_kiny_year1_75}}</td>
                <td class="subject">{{count_kiny_year1_100}}</td>
            </tr>
            <tr>
                <td class="course" style="text-align: left;">Total</td>
                <td class="subject"></td>
                <td class="subject"></td>
                <td class="subject"></td>
                <td class="subject">{{count_student_year2}}</td>
            </tr>
        </tbody>
    </table>
</center>


</body>
</html>