<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" href="{% url 'sectorPage' %}">Home</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Register</a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">

        <a class="dropdown-item" href="{% url 'school_create' %}">School</a>
        

    </ul>
    </li>
    <li class="nav-tabs">
      <a href="{% url 'schoolReportFromSector' %}" class="nav-link">Statistical Reports</a>
  </li>
</ul>  